In [149]:
import pandas as pd
import yake

In [165]:
data = pd.read_csv(r"C:\Users\Jadha\PycharmProjects\python-stuff\data_science_job_data_with_applylink_micro.csv")
data.head()

,title,company_name,location,from,Benefits,Qualifications,Responsibilities,thumbnail,applyLink
0,Microsoft is hiring Software Engineer [2022 Gr...,Microsoft,India,via Workat.tech,NaN,NaN,NaN,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://workat.tech/company/microsoft/jobs/sof...
1,Microsoft D365-Functional-Finance,DXC Technology,"Gurugram, Haryana, India",via LinkedIn,NaN,NaN,NaN,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://in.linkedin.com/jobs/view/microsoft-d3...
2,Microsoft Off Campus Drive 2023 Hiring Data An...,Microsoft,"Hyderabad, Telangana, India",via Freshershunt,NaN,NaN,NaN,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://freshershunt.in/microsoft-off-campus-d...
3,Microsoft is hiring for Freshers as Research I...,Microsoft,"Bengaluru, Karnataka, India",via DJobBuzz.com,NaN,NaN,NaN,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://www.djobbuzz.com/home/viewjob/7447/mic...
4,Microsoft Jobs 2023 for Research Fellow,Microsoft,"Bengaluru, Karnataka, India",via Off Campus Careers,NaN,NaN,NaN,https://encrypted-tbn0.gstatic.com/images?q=tb...,https://offcampuscareers.com/microsoft-jobs-4/...

In [166]:
data['Qualifications']

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN
15   NaN
16   NaN
17   NaN
18   NaN
19   NaN
Name: Qualifications, dtype: float64

## Data Cleaning

In [124]:
import pandas as pd
from num2words import num2words
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
nltk.download('punkt')

stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Jadha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Jadha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [125]:
def remove_punctuation_func(text):
    '''
    Removes all punctuation from a string, if present
    
    Args:
        text (str): String to which the function is to be applied, string
    
    Returns:
        Clean string without punctuations
    '''
    return re.sub(r'[^a-zA-Z0-9]', ' ', text)

In [126]:
def chat_words_to_norm_words_func(text):
    '''
    Replaces common chat expressions with their spelled out form
    
    Args:
        text (str): String to which the function is to be applied, string
    
    Returns:
        Clean string with replaced chat expressions
    ''' 
    return re.sub(r'\S+', lambda m: chat_expressions_dict.get(m.group().upper(), m.group()) , text)

def sep_num_words_func(text):
    '''
    Separates numbers from words or other characters
    
    Args:
        text (str): String to which the function is to be applied, string
    
    Returns:
        Clean string with separated numbers from words or other characters
    ''' 
    return re.sub(r"([0-9]+(\.[0-9]+)?)",r" \1 ", text).strip() 

def num_to_words(text):
    '''
    Convert Numbers to Words
    
    Args:
        text (str): String to which the function is to be applied, string
    
    Returns:
        Clean string with converted Numbers to Words
    ''' 
    after_spliting = text.split()

    for index in range(len(after_spliting)):
        if after_spliting[index].isdigit():
            after_spliting[index] = num2words(after_spliting[index])
    numbers_to_words = ' '.join(after_spliting)
    return numbers_to_words


def convert_exp_to_word(text):
    replacement = {'8+': 'eight plus', '9+': 'nine plus', '10+': 'ten plus', '11+': 'eleven plus', '12+': 'twelve plus', '13+': 'thirteen plus', '14+': 'fourteen plus', '15+': 'fifteen plus', '16+': 'sixteen plus', '17+': 'seventeen plus', '18+': 'eighteen plus', '19+': 'nineteen plus', '20+': 'twenty plus'}

    for pat, rep in replacement.items():
        text = re.sub(pat, rep, text)
    return text

def remove_extra_whitespaces_func(text):
    '''
    Removes extra whitespaces from a string, if present
    
    Args:
        text (str): String to which the function is to be applied, string
    
    Returns:
        Clean string without extra whitespaces
    ''' 
    return re.sub(r'^\s*|\s\s*', ' ', text).strip()

def stop_word_removal(text):
    word_tokens = word_tokenize(text)
    # converts the words in word_tokens to lower case and then checks whether 
    #they are present in stop_words or not
    filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]
    #with no lower case conversion
    filtered_sentence = []

    for w in word_tokens:
        if w not in stop_words:
            filtered_sentence.append(w)
    return " ".join(filtered_sentence)

def num_to_words(text):
    '''
    Convert Numbers to Words
    
    Args:
        text (str): String to which the function is to be applied, string
    
    Returns:
        Clean string with converted Numbers to Words
    ''' 
    after_spliting = text.split()

    for index in range(len(after_spliting)):
        if after_spliting[index].isdigit():
            after_spliting[index] = num2words(after_spliting[index])
    numbers_to_words = ' '.join(after_spliting)
    return numbers_to_words

### Number to word

In [93]:
text = '8+ years of industry experience in data science, measurement, marketing strategy & analytics.'
text = sep_num_words_func(text)
text

'8 + years of industry experience in data science, measurement, marketing strategy & analytics.'

In [94]:
text = convert_exp_to_word(text)
text

'eight plus + years of industry experience in data science, measurement, marketing strategy & analytics.'

In [95]:
text = remove_punctuation_func(text)
text

'eight plus   years of industry experience in data science  measurement  marketing strategy   analytics '

In [96]:
text = remove_extra_whitespaces_func(text)
text

'eight plus years of industry experience in data science measurement marketing strategy analytics'

In [97]:
text = stop_word_removal(text)
text

'eight plus years industry experience data science measurement marketing strategy analytics'

In [98]:
# Stemming and Lemmatization

### Apply function to Column

In [99]:
data['Qualifications'] = data['Qualifications'].fillna("")

In [100]:
data['Qualifications'] = data['Qualifications'].apply(sep_num_words_func)
data['Qualifications'] = data['Qualifications'].apply(num_to_words)
data['Qualifications'] = data['Qualifications'].apply(convert_exp_to_word)
data['Qualifications'] = data['Qualifications'].apply(remove_punctuation_func)
data['Qualifications'] = data['Qualifications'].apply(remove_extra_whitespaces_func)
data['Qualifications'] = data['Qualifications'].apply(stop_word_removal)
data['Qualifications'] = data['Qualifications'].str.lower()

## Single Keyword Extractor

### KeyBERT

In [101]:
from keybert import KeyBERT
from transformers.pipelines import pipeline

# hf_model = pipeline("feature-extraction", model="distilbert-base-cased")
# kw_model = KeyBERT(model=hf_model)

# Max Sum Distance and Maximal Marginal Relevance 

kw_model_qualification = KeyBERT(model='all-MiniLM-L6-v2') # all-MiniLM-L6-v2 - paraphrase-MiniLM-L3-v2
# kw_extractor = yake.KeywordExtractor(top=50)

# facebook/bart-large

In [102]:
# # Create candidates
# import yake
# kw_extractor = yake.KeywordExtractor(top=50)
# candidates = kw_extractor.extract_keywords(data['Qualifications'][27])
# candidates = [candidate[0] for candidate in candidates]
# # candidates=candidates

In [103]:
seed_keywords = ["one year", "two years", "three years", "four years", "five years", "six years"]

In [104]:
qualification_params = {
        'seed_keywords' : seed_keywords,
        'use_maxsum' : True,
        'nr_candidates': 20,
        'keyphrase_ngram_range': (3, 4),
        'highlight': True,
        'top_n': 10
}

for i in range(27, 37):
    text = data['Qualifications'][i]
#     print(text)
#     candidates = kw_extractor.extract_keywords(data['Qualifications'][i])
#     candidates = [candidate[0] for candidate in candidates]
    keywords = kw_model_qualification.extract_keywords(text, **qualification_params)
#                                          seed_keywords=seed_keywords,
# #                                          candidates=candidates,
#                                          use_maxsum=True, nr_candidates=20,
# #                                          use_mmr=True, diversity=0.5,
#                                          keyphrase_ngram_range=(3, 4), 
# #                                          stop_words='english', 
#                                          highlight=True,
#                                          top_n=10)
    
    break
    keywords_list= list(dict(keywords).keys())
    print("----------")
    print(keywords_list)
    print('\n')
    print('\n')
    print('\n')

## Responsibilities

In [105]:
data['Responsibilities'][0]

nan

In [106]:
data['Responsibilities'] = data['Responsibilities'].fillna("")

data['Responsibilities'] = data['Responsibilities'].apply(sep_num_words_func)
data['Responsibilities'] = data['Responsibilities'].apply(num_to_words)
data['Responsibilities'] = data['Responsibilities'].apply(convert_exp_to_word)
data['Responsibilities'] = data['Responsibilities'].apply(remove_punctuation_func)
data['Responsibilities'] = data['Responsibilities'].apply(remove_extra_whitespaces_func)
data['Responsibilities'] = data['Responsibilities'].apply(stop_word_removal)
data['Responsibilities'] = data['Responsibilities'].str.lower()

In [107]:
data['Responsibilities'][0]

''

In [108]:
from keybert import KeyBERT
from transformers.pipelines import pipeline

# hf_model = pipeline("feature-extraction", model="distilbert-base-cased")
# kw_model = KeyBERT(model=hf_model)

# Max Sum Distance and Maximal Marginal Relevance 

kw_model_responsibilities = KeyBERT(model='all-MiniLM-L6-v2') # all-MiniLM-L6-v2 - paraphrase-MiniLM-L3-v2
kw_extractor = yake.KeywordExtractor(top=50)

# facebook/bart-large

In [109]:
for i in range(27, 37):
    text = data['Responsibilities'][i]
#     print(text)
#     candidates = kw_extractor.extract_keywords(data['Responsibilities'][i])
#     candidates = [candidate[0] for candidate in candidates]
    responsibilities_params = {
        'seed_keywords' : seed_keywords,
        'use_maxsum' : True,
        'nr_candidates': 20,
        'keyphrase_ngram_range': (3, 4),
        'highlight': True,
        'top_n': 10
    }
    keywords = kw_model_responsibilities.extract_keywords(text, **responsibilities_params)

    keywords_list= list(dict(keywords).keys())
    print("----------")
    print(keywords_list)
    print('\n')
    print('\n')
    print('\n')
    break

----------
[]

## Benefits

In [110]:
data['Benefits'][1]

nan

In [111]:
data['Benefits'] = data['Benefits'].fillna("")

data['Benefits'] = data['Benefits'].apply(sep_num_words_func)
data['Benefits'] = data['Benefits'].apply(num_to_words)
data['Benefits'] = data['Benefits'].apply(convert_exp_to_word)
data['Benefits'] = data['Benefits'].apply(remove_punctuation_func)
data['Benefits'] = data['Benefits'].apply(remove_extra_whitespaces_func)
data['Benefits'] = data['Benefits'].apply(stop_word_removal)
data['Benefits'] = data['Benefits'].str.lower()

In [112]:
data['Benefits'][1]

''

In [113]:
from keybert import KeyBERT
from transformers.pipelines import pipeline

# hf_model = pipeline("feature-extraction", model="distilbert-base-cased")
# kw_model = KeyBERT(model=hf_model)

# Max Sum Distance and Maximal Marginal Relevance 

kw_model_benefits = KeyBERT(model='all-MiniLM-L6-v2') # all-MiniLM-L6-v2 - paraphrase-MiniLM-L3-v2
kw_extractor = yake.KeywordExtractor(top=50)

# facebook/bart-large

In [114]:
for i in range(27, 37):
    text = data['Benefits'][i]
#     print(text)
#     candidates = kw_extractor.extract_keywords(data['Responsibilities'][i])
#     candidates = [candidate[0] for candidate in candidates]
    benefits_params = {
        'seed_keywords' : seed_keywords,
        'use_maxsum' : True,
        'nr_candidates': 20,
        'keyphrase_ngram_range': (3, 4),
        'highlight': True,
        'top_n': 10
    }
    keywords = kw_model_benefits.extract_keywords(text, **benefits_params)

    keywords_list= list(dict(keywords).keys())
    print("----------")
    print(keywords_list)
    print('\n')
    print('\n')
    print('\n')
    break

----------
[]

### Output prep

In [115]:
data.head()

,title,company_name,location,from,Benefits,Qualifications,Responsibilities,applyLink
0,Software Developer,"Futurism Technologies, INC.","Pune, Maharashtra, India",via LinkedIn,,,,https://in.linkedin.com/jobs/view/software-dev...
1,Senior Software Engineer,AMAZE WORLD,"Surat, Gujarat, India",via LinkedIn,,,,https://in.linkedin.com/jobs/view/senior-softw...
2,Software Developer: Microsoft,IBM,"Ahmedabad, Gujarat, India",via Define Your Career With IBM,,,,https://careers.ibm.com/job/17821672/software-...
3,Software Developer,Voidek Webolutions,"Bardoli, Gujarat, India",via WorkIndia.in,,,,https://www.workindia.in/jobs/software_develop...
4,Software Developer - Ahmedabad - Work From Office,MyStudia Education,"Ahmedabad, Gujarat, India",via LinkedIn,,,,https://in.linkedin.com/jobs/view/software-dev...

In [116]:
benefits_keywords = []
qualifications_keywords = []
responsibilities_keywords = []

data['benefits_keywords'] = data['Benefits'].apply(lambda x : kw_model_benefits.extract_keywords(x, **benefits_params))
data['qualification_keywords'] = data['Qualifications'].apply(lambda x : kw_model_benefits.extract_keywords(x, **benefits_params))
data['responsibilities_keywords'] = data['Responsibilities'].apply(lambda x : kw_model_benefits.extract_keywords(x, **benefits_params))

In [117]:
display(data.head())
data.to_csv("latest_data_to_server_1.csv", index=False)

,title,company_name,location,from,Benefits,Qualifications,Responsibilities,applyLink,benefits_keywords,qualification_keywords,responsibilities_keywords
0,Software Developer,"Futurism Technologies, INC.","Pune, Maharashtra, India",via LinkedIn,,,,https://in.linkedin.com/jobs/view/software-dev...,[],[],[]
1,Senior Software Engineer,AMAZE WORLD,"Surat, Gujarat, India",via LinkedIn,,,,https://in.linkedin.com/jobs/view/senior-softw...,[],[],[]
2,Software Developer: Microsoft,IBM,"Ahmedabad, Gujarat, India",via Define Your Career With IBM,,,,https://careers.ibm.com/job/17821672/software-...,[],[],[]
3,Software Developer,Voidek Webolutions,"Bardoli, Gujarat, India",via WorkIndia.in,,,,https://www.workindia.in/jobs/software_develop...,[],[],[]
4,Software Developer - Ahmedabad - Work From Office,MyStudia Education,"Ahmedabad, Gujarat, India",via LinkedIn,,,,https://in.linkedin.com/jobs/view/software-dev...,[],[],[]

In [118]:
data['qualification_keywords'] = data['qualification_keywords'].apply(lambda ls : "|".join([x[0] for x in ls]))
data['benefits_keywords'] = data['benefits_keywords'].apply(lambda ls : "|".join([x[0] for x in ls]))
data['responsibilities_keywords'] = data['responsibilities_keywords'].apply(lambda ls : "|".join([x[0] for x in ls]))

In [130]:
data.head()

,title,company_name,location,from,Benefits,Qualifications,Responsibilities,applyLink
0,"Senior Software Engineer, Infrastructure, Tech...",Google,"Bengaluru, Karnataka, India",via Google Careers,NaN,NaN,NaN,https://careers.google.com/jobs/results/995612...
1,Lead Software Engineer,Franklin Templeton India,"Hyderabad, Telangana, India",via LinkedIn,NaN,NaN,NaN,https://in.linkedin.com/jobs/view/lead-softwar...
2,Software Engineer,GE,"Hyderabad, Telangana, India",via GE Careers,NaN,NaN,NaN,https://jobs.gecareers.com/global/en/job/R3667...
3,Software Development Engineer,Apple,"Hyderabad, Telangana, India",via Careers At Apple,NaN,NaN,NaN,https://jobs.apple.com/en-in/details/200458197...
4,Senior IT Software Engineer,Palo Alto Networks,"Bengaluru, Karnataka, India",via Palo Alto Networks Jobs,NaN,NaN,NaN,https://paloaltonetworkscareers.dejobs.org/ban...

In [168]:
data = data.fillna("")
data.isna().any()

title               False
company_name        False
location            False
from                False
Benefits            False
Qualifications      False
Responsibilities    False
thumbnail           False
applyLink           False
dtype: bool

In [169]:
data_dict = data.to_dict(orient='list')
base_url = 'http://20.222.111.38/'
for i in range(len(data)):
    # Create Company
    company = {
        'name': data_dict['company_name'][i]
    }
    
    res = requests.post(base_url+"companies/", json = company)
    
    if res.status_code == 200:
        print("Comp. created successfully")
    else:
        print(res.status_code)
    job = {
              "title": data_dict['title'][i],
              "dateposted": datetime.now().timestamp(),
              "location": data_dict['location'][i],
              "from_": data_dict['company_name'][i],
              "benefits": data_dict['Benefits'][i],
              "bkeyword": '',
              "qualifications": data_dict['Qualifications'][i],
              "qkeyword": '',
              "responsibilities": data_dict['Responsibilities'][i],
              "rkeyword": '',
              "thumbnail": data_dict['thumbnail'][i],
              "applylink": data_dict['applyLink'][i]
            }
    
    res = requests.post(base_url+"jobs/", json = job)
    
    if res.status_code == 200:
        print("Added. created successfully")
    else:
        print(res.status_code)

500
Added. created successfully
Comp. created successfully
Added. created successfully
500
Added. created successfully
500
Added. created successfully
500
Added. created successfully
500
Added. created successfully
500
Added. created successfully
Comp. created successfully
Added. created successfully
500
Added. created successfully
500
Added. created successfully
500
Added. created successfully
Comp. created successfully
Added. created successfully
Comp. created successfully
Added. created successfully
500
Added. created successfully
500
Added. created successfully
500
Added. created successfully
Comp. created successfully
Added. created successfully
Comp. created successfully
Added. created successfully
500
Added. created successfully
500
Added. created successfully

In [164]:
data_dict.keys()

dict_keys(['title', 'company_name', 'location', 'from', 'Benefits', 'Qualifications', 'Responsibilities', 'thumbnail', 'applyLink'])

500

In [ ]:
kw_extractor = yake.KeywordExtractor(top=10, stopwords=None)

for i in range(10):
  text = data['Qualifications'][i]
  print(text)
  keywords = kw_extractor.extract_keywords(text)
  for kw, v in keywords:
    print("Keyphrase: ",kw, ": score", v)

In [ ]:
!pip install multi_rake
from multi_rake import Rake
rake = Rake()
keywords = rake.apply(text)
print(keywords[:10])

In [ ]:
from keybert import KeyBERT

In [ ]:
kw_model = KeyBERT(model='all-mpnet-base-v2') # all-MiniLM-L6-v2

In [ ]:
for i in range(27, 37):
    text = data['Qualifications'][i]
    print(text)
    keywords = kw_model.extract_keywords(text, 
                                         keyphrase_ngram_range=(3, 3), 
                                         stop_words='english', 
                                         highlight=False,
                                         top_n=10)

    keywords_list= list(dict(keywords).keys())
    print("----------")
    print(keywords_list)
    print('\n')
    print('\n')
    print('\n')